@page "/survey/create"
@namespace JwtIdentity.Client.Pages.Survey
@inherits CreateSurveyModel
@attribute [Authorize(Policy = Permissions.CreateSurvey)]

<PageTitle>Survey Shark - Create Survey</PageTitle>

<h3>Create Survey</h3>

<EditForm Model="@Survey" OnValidSubmit="@CreateSurvey">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <MudStack Spacing="1">
        <div>
            <DemoBorder CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 0 })">
                <MudTextField id="Title" Label="Title" @bind-Value="Survey.Title" Variant="Variant.Filled" Lines="1" MaxLines="5" AutoGrow="true" Immediate="true" Counter="50" MaxLength="50" ReadOnly="@IsDemoUser" />
            </DemoBorder>
            <DemoPopup CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 0 })">
                <MudText Typo="Typo.body2">Let's start with a title for your survey.</MudText>
                <DemoBorder CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 0 })" IsButton="true">
                    <MudButton OnClick="NextDemoStep" Variant="Variant.Filled" Color="Color.Success">Next</MudButton>
                </DemoBorder>
            </DemoPopup>
        </div>
        <div>
            <DemoBorder CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 1 })">
                <MudTextField id="Description" Label="Description" @bind-Value="Survey.Description" Variant="Variant.Filled" Lines="5" MaxLines="10" AutoGrow="true" Immediate="true" Counter="250" MaxLength="250" ReadOnly="@IsDemoUser" />
            </DemoBorder>
            <DemoPopup CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 1 })">
                <MudText Typo="Typo.body2">Great! Now add a description. This helps guide the AI engine, and tells the survey taker what the survey is about.</MudText>
                <DemoBorder CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 1 })" IsButton="true">
                    <MudButton OnClick="NextDemoStep" Variant="Variant.Filled" Color="Color.Success">Next</MudButton>
                </DemoBorder>
            </DemoPopup>
        </div>

        <MudAlert Severity="Severity.Info" Class="mt-2">
            <MudText Typo="Typo.body2">You can use AI to generate questions for your survey. If you choose to do so, please provide clear instructions in the field below. As always, you will be able to edit or delete those questions, and add more questions.</MudText>
        </MudAlert>

        <div>
            <DemoBorder CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 2 })">
                <MudTextField id="AiInstructions"
                              Label="Instructions to AI"
                              @bind-Value="Survey.AiInstructions"
                              Variant="Variant.Filled"
                              Lines="5" MaxLines="10"
                              AutoGrow="true"
                              Immediate="true"
                              Counter="500"
                              MaxLength="500"
                              Placeholder="Example: I am creating a survey that is designed to find out how people feel about my most recent service call. I am an air conditioning repair technician. Create a mix of Rating 1 to 10 question types. Create 1 Free Text response type question at the end that will allow users to provide any additional details about their experience."
                              HelperText="Although not required, providing instructions helps the AI, in case you want specific types of questions."
                              ReadOnly="@IsDemoUser" />
            </DemoBorder>
            <DemoPopup CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 2 })">

                <MudText Typo="Typo.body2">Provide instructions for the AI-generated questions.</MudText>
                <DemoBorder CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 2 })" IsButton="true">
                    <MudButton OnClick="NextDemoStep" Variant="Variant.Filled" Color="Color.Success">Next</MudButton>
                </DemoBorder>
            </DemoPopup>

            <DemoPopup CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 3 })">
                <MudText Typo="Typo.body2">Only the title and description are required to create a survey. AI instructions are optional. The title and description will be shown to the survey taker. The AI instructions are not shown to the user.</MudText>
                <DemoBorder CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 3 })" IsButton="true">
                    <MudButton OnClick="NextDemoStep" Variant="Variant.Filled" Color="Color.Success">Next</MudButton>
                </DemoBorder>
            </DemoPopup>

            <DemoPopup CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 4 })">
                <MudText Typo="Typo.body2">All set! Review the details and click the Create button to generate your survey.</MudText>
                <DemoBorder CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 4 })" IsButton="true">
                    <MudButton OnClick="NextDemoStep" Variant="Variant.Filled" Color="Color.Success">Finish</MudButton>
                </DemoBorder>
            </DemoPopup>

        </div>
    </MudStack>

    <DemoBorder CurrentDemoStep="@DemoStep" StepsToShow="@(new List<int>() { 5 })" IsButton="true">
        <SpinnerButton IsBusy="@IsBusy" ButtonType="ButtonType.Submit" Color="Color.Primary" Text="Create" Disabled="@(Survey.Id > 0)" />
    </DemoBorder>

</EditForm>
