@inherits MyNavMenuModel

<MudAppBar Elevation="4" Color="Color.Primary">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="ToggleDrawer" />
    <MudImage Src="images/logo_200_60.png" />
    <MudSpacer />
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mx-2" Href="/">Home</MudButton>
        <AuthorizeView Policy="@Permissions.ManageUsers">
            <Authorized>
                <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mx-2" Href="/ManageRolePermissions">Manage Permissions</MudButton>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@Permissions.CreateSurvey">
            <Authorized>
                <MudMenu Label="Surveys" Variant="Variant.Text" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Inherit">

                    <MudMenuItem Href="/survey/create">Create Survey</MudMenuItem>
                    <MudMenuItem Href="/survey/mysurveys">My Surveys</MudMenuItem>

                </MudMenu>
            </Authorized>
        </AuthorizeView>        
        <MudSwitch Value="@DarkTheme" Label="Dark Theme" ValueChanged="DarkThemeChanged" />
        <div class="mx-1">
            <AuthorizeView>
                <Authorized>
                    <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mx-2" Href="logout">Logout</MudButton>
                </Authorized>
                <NotAuthorized>
                    <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mx-2" Href="login">Login</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mx-2" Href="register">Register</MudButton>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </MudHidden>
    <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.End" />
</MudAppBar>

<MudDrawer @bind-Open="_drawerOpen" Anchor="MudBlazor.Anchor.Left" Variant="DrawerVariant.Temporary" Elevation="1">
    <MudDrawerHeader>Menu</MudDrawerHeader>
    <MudNavMenu>
        <AuthorizeView>
            <Authorized>
                <MudNavLink Href="logout">Logout</MudNavLink>
            </Authorized>
            <NotAuthorized>
                <MudNavLink Href="login">Login</MudNavLink>
                <MudNavLink Href="register">Register</MudNavLink>
            </NotAuthorized>
        </AuthorizeView>
        <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
        <AuthorizeView Policy="@Permissions.ManageUsers">
            <Authorized>
                <MudNavLink Href="/ManageRolePermissions">Manage Permissions</MudNavLink>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@Permissions.CreateSurvey">
            <Authorized>
                <MudMenu Label="Surveys" Variant="Variant.Text" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Inherit">

                    <MudMenuItem Href="/survey/create">Create Survey</MudMenuItem>
                    <MudMenuItem Href="/survey/mysurveys">My Surveys</MudMenuItem>

                </MudMenu>
            </Authorized>
        </AuthorizeView>       
    </MudNavMenu>
</MudDrawer>