@implements IDisposable

<MudAppBar Elevation="4" Color="Color.Primary">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="ToggleDrawer" />
    <MudText Typo="Typo.h6" Class="ml-2">My Application</MudText>
    <MudSpacer />
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mx-2" Href="/">Home</MudButton>
        <AuthorizeView Policy="@Permissions.ManageUsers">
            <Authorized>
                <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mx-2" Href="/ManageRolePermissions">Manage Permissions</MudButton>
            </Authorized>
        </AuthorizeView>
        <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mx-2">Contact</MudButton>
        <MudSwitch Value="@DarkTheme" Label="Dark Theme" ValueChanged="DarkThemeChanged" />
        <div class="mx-1">
            <AuthorizeView>
                <Authorized>
                    <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mx-2" Href="logout">Logout</MudButton>
                </Authorized>
                <NotAuthorized>
                    <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mx-2" Href="login">Login</MudButton>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </MudHidden>
    <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.End" />
</MudAppBar>

<MudDrawer @bind-Open="_drawerOpen" Anchor="Anchor.Left" Variant="DrawerVariant.Temporary" Elevation="1">
    <MudDrawerHeader>Menu</MudDrawerHeader>
    <MudNavMenu>
        <AuthorizeView>
            <Authorized>
                <MudNavLink Href="logout">Logout</MudNavLink>
            </Authorized>
            <NotAuthorized>
                <MudNavLink Href="login">Login</MudNavLink>
            </NotAuthorized>
        </AuthorizeView>
        <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
        <AuthorizeView Policy="@Permissions.ManageUsers">
            <Authorized>
                <MudNavLink Href="/ManageRolePermissions">Manage Permissions</MudNavLink>
            </Authorized>
        </AuthorizeView>
        <MudNavLink Href="/contact">Contact</MudNavLink>
    </MudNavMenu>
</MudDrawer>

@code {
    private bool _drawerOpen = false;
    
    [Parameter]
    public bool DarkTheme { get; set; }

    [Parameter]
    public EventCallback<bool> DarkThemeChanged { get; set; }

    protected override void OnInitialized()
    {
       ((CustomAuthStateProvider)AuthStateProvider!).OnLoggedOut += UpdateLoggedIn;
       CustomAuthorizationMessageHandler.OnUnauthorized += UpdateLoggedIn;
        _drawerOpen = false;
    }

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }

    private async Task DarkThemeChangedHandler(bool value)
    {
        DarkTheme = value;
        await DarkThemeChanged.InvokeAsync(value);
    }

    private void UpdateLoggedIn()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        ((CustomAuthStateProvider)AuthStateProvider!).OnLoggedOut -= UpdateLoggedIn;
        CustomAuthorizationMessageHandler.OnUnauthorized -= UpdateLoggedIn;
    }
}